@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bai Jamjuree', sans-serif;
}


h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25;
}

h2 {
    font-size: 24px; 
    font-weight: 700;
    line-height: 1.25;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.25;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
}

small {
    font-size: 14px;
}

